#section01{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#square01{
    width: 100vw;
    height: 80px;
    background-color: red;
    position: sticky;
    top: 0;
}

#div01{
    color: white;
    font-weight: bold;
    font-family: Dyuthi;
    font-size: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 10px;

}

#section02{
    background-color:  lightskyblue;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#square02{
    width: 100vw;
    height: 80px;
    background-color: blue;
    position: sticky;
    top: 0;
}

#div02{
    color: white;
    font-weight: bold;
    font-family: Dyuthi;
    font-size: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 10px;
}

#section03{
    background-color: gray;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#square03{
    width: 100vw;
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0;
}

#div03{
    color: white;
    font-weight: bold;
    font-family: Dyuthi;
    font-size: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 10px;
}

#section04{
    background-color: red;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#square04{
    width: 100vw;
    height: 80px;
    background-color: darkred;
    position: sticky;
    top: 0;
}

#div04{
    color: white;
    font-weight: bold;
    font-family: Dyuthi;
    font-size: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 10px;
}

h1{
    font-family: Dyuthi;
    font-size: 150px;
}

#txt01{
    width: fit-content;
    height: fit-content;
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#txt02{
    width: fit-content;
    height: fit-content;
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#txt03{
    width: fit-content;
    height: fit-content;
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#txt04{
    width: fit-content;
    height: fit-content;
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}